
{% load i18n %}
{% if msgs %}
<h2> Important! </h2>
<div class="overflow-auto" style="height: 200px;">
	{% for msg in msgs %}
	<div class="mb-2">
		<p>{{ msg.info }} <a class="btn btn-link" href="{{ msg.url }}"> {{ msg.url_name }}</a></p>
	</div>
	{% endfor %}
</div>
{% endif %}

{% if user.get_profile.verification.need_review %}
	{% with ver=user.get_profile.verification %}
		<div class="alert alert-danger">
			<h4 class="text-center">{% translate "Attention" %}</h4>
			<p>{% translate "Your profile needs to be reviewed!" %}</p>
			<p><strong>{{ ver.review_comment }}</strong></p>
		</div>
	{% endwith %}
{% endif %}

{% if user.is_club %}
	{% for player in user.get_club.get_players %}
		{% if player.verification.need_review %}
			{% with ver=player.verification %}
				<div class="alert alert-danger">
					<h4 class="text-center">{% translate "Attention" %}</h4>
					<h5>{{ player }}{% translate ", a players of your club needs to review his/her profile!" %}</h5>
					<p>review: <strong>{{ ver.review_comment }}</strong></p>
				</div>
			{% endwith %}
		{% endif %}
	{% endfor %}
{% endif %}

