
{% if user.is_authenticated %}
	<a class="nav-link" href="{% url 'dash:home' %} ">
		<div class="nav-link-icon"><i class="mdi mdi-view-dashboard-outline"></i></div>
		Dashboard
	</a>
	
	{% if user.get_profile %}
	<a class="nav-link" href="{{ user.get_profile.get_absolute_url }} ">
		<div class="nav-link-icon"><i class="mdi mdi-face"></i></div>
		My Profile
	</a>
	{% endif %}
	
	{% if user.get_club %}
		<a class="nav-link" href="{{ user.get_club.get_absolute_url }}">
			<div class="nav-link-icon"><i class="mdi mdi-home-heart"></i></div>
			My Club &nbsp; 
			<small>({{ user.get_club }})</small>
		</a>
		<a class="nav-link" href="{% url 'users:clubmemberslist' user.get_club.pk %}">
			<div class="nav-link-icon"><i class="mdi mdi-account-group"></i></div>
			My Club Members
		</a>
	{% endif %}
	
	<a class="nav-link" href=" {% url 'users:unsignedplayers' %} ">
		<div class="nav-link-icon"><i class="mdi mdi-account-box-multiple-outline"></i></div>
		Unsigned Players
	</a>

{% endif %}
