{% load rules %}

	<a class="nav-link" href="{% url 'match:cards' %}">
		<div class="nav-link-icon"><i class="flaticon-red"></i></div>
	  Cards
	</a>

	<a class="nav-link" href="{% url 'match:suspensions' %}">
		<div class="nav-link-icon"><i class="mdi mdi-account-cancel"></i></div>
		Suspensions
	</a>

{% if user.is_staff %}

	<a class="nav-link" href="{% url 'users:list' %}">
		<div class="nav-link-icon"><i class="mdi mdi-clipboard-list"></i></div>
		users list
	</a>
	<a class="nav-link" href="{% url 'dash:carosel' %}">
		<div class="nav-link-icon"><i class="mdi mdi-view-carousel-outline"></i></div>
		Carosel
	</a>

	{% include 'dashboard/partials/sideNav_dropdown_link.html' with data_target="#league" name="League" icon="soccer" %}
 	<div class="collapse" id="league" data-parent="#accordionSidenav">
		<nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
			<a class="nav-link" href="{% url 'dash:season_edit' %}">VFL 2021</a>
 	  </nav>
 	</div>
{% endif %}

{% if perms.verification.add_verification %}
	<a class="nav-link" href="{% url 'dash:verificationlist' %}">
		<div class="nav-link-icon"><i class="mdi mdi-clipboard-edit"></i></div>
		Profile Verification
	</a>
{% endif %}

{% test_rule 'manage_match' user as can_manage_match %}
{% if can_manage_match %}
	<a class="nav-link" href="{% url 'dash:managematches' %}">
		<div class="nav-link-icon"><i class="mdi mdi-soccer-field"></i></div>
		Manage Matches
	</a>
	{% include 'dashboard/partials/sideNav_dropdown_link.html' with data_target="#attr" name="Attributes" icon="notebook-edit" %}

 	<div class="collapse" id="attr" data-parent="#accordionSidenav">

		<nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
			<a class="nav-link" href="{% url 'match:suspensionattr' %}">Suspension</a>
 	  </nav>

		<nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
			<a class="nav-link" href="{% url 'match:goalattr' %}">Goal</a>
 	  </nav>

		<nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
			<a class="nav-link" href="{% url 'match:cardattr' %}">card</a>
 	  </nav>

 	</div>

{% endif %}

{% test_rule 'manage_profiles' user as can_manage_profiles %}
{% if can_manage_profiles %}
<a class="nav-link" href=" {% url 'users:allplayers' %} ">
	<div class="nav-link-icon"><i class="mdi mdi-soccer"></i></div>
	Duplicate Profiles
</a>
{% endif %}

