{% extends 'account/auth_base.html' %}	

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% get_providers as socialaccount_providers %}

{% block content_main %}
<div id="layoutAuthentication_content">
	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
					<!-- Social login form-->
					<div class="card my-5">
						<div class="card-body p-5 text-center">
							<div class="h2 font-weight-light mb-3">VFL</div>
							<div class="h3 font-weight-light mb-3">Sign In</div>
							<!-- Social login links-->
							{% get_providers as socialaccount_providers %}
							{% if socialaccount_providers %}
							<div class="small text-muted mb-2">Sign in using...</div>
							{% include "socialaccount/snippets/provider_list.html" with process="login" %}
							{% endif %}
						</div>
						<hr class="my-0" />
						<div class="card-body p-5">
							<!-- Login form-->
							<form method="POST" action="{% url 'account_login' %}">
								{% include 'snippets/form_common.html' %}

								{% for field in form.visible_fields %}
								{% if field.name != 'remember' %}
								<div class="form-group">
									{{ field|add_label_class:'text-gray-600 small' }}
									{% render_field field class="form-control form-control-solid" placeholder=field.label %}
								</div>
								{% endif %}
								{% endfor %}

								<div class="form-group"><a class="small" href=" {% url 'account_reset_password' %} ">Forgot your password?</a></div>
								<div class="form-group d-flex align-items-center justify-content-between mb-0">
									<div class="custom-control custom-control-solid custom-checkbox">
										{% render_field form.remember class="custom-control-input small" %}
										<label class="custom-control-label" for="id_remember">{% trans "Remember Me" %}</label>
									</div>
									<button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
								</div>

							</form>
						</div>
						<hr class="my-0" />
						<div class="card-body px-5 py-4">
							<div class="small text-center">
								New user?
								<a href=" {% url 'account_signup' %} ">Create an account!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
{% endblock %}
