
{% extends 'account/auth_base.html' %}	

{% load static %}
{% load i18n %}
{% load widget_tweaks %}


{% block content_main %}
<div id="layoutAuthentication_content">
	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-8 col-lg-9">
					<!-- Social dashboard form-->
					<div class="card text-dark my-5">
						<div class="card-body p-5 text-center">
							<div class="h2 font-weight-light mb-3">VFL</div>
							<div class="h3 font-weight-light mb-3">{% translate 'Password Reset' %}</div>
							<div class="alert alert-warning">
								{% translate 'For reseting password using mobile OTP '%}
								<a href="{% url 'account_reset_password' %}">{% translate 'click here' %}</a>
							</div>
						</div>
						<hr class="my-0" />
						<div class="card-body p-5">
							<form method="POST" action="">
										<h5> {{ title }} </h5>
										{% include "snippets/form_common.html" with form=form %}
										{% for field in form.visible_fields %}
											<div class="form-group">
												{{ field.errors }}
												{{ field | add_label_class:"text-gray-600 small" }}
												{% render_field field class="form-control form-control-solid" %}
											</div>
										{% endfor %}
								<div class="form-group d-flex align-items-center justify-content-between">
									<button class="btn btn-primary" type="submit" name="submit">Submit</button>
								</div>
							</form>
						</div>
						<hr class="my-0" />
						<div class="card-body px-5 py-4">
							<div class="small text-center">
								<a href=" {% url 'account_login' %} ">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
{% endblock %}

