
{% extends 'account/auth_base.html' %}	

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% get_providers as socialaccount_providers %}

{% block content_main %}

<div id="layoutAuthentication_content">
	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
					<!-- Social forgot password form-->
					<div class="card my-5">
						<div class="card-body p-5 text-center">
							<div class="h2 font-weight-light mb-0">VFL</div>
							<div class="h3 font-weight-light mb-0">Password Recovery</div>
						</div>
						<hr class="my-0" />
						<div class="card-body p-5">
							<div class="text-center small text-muted mb-4">Enter your email address below and we will send you a link to reset your password.</div>
							<!-- Forgot password form-->
							<form method="POST" action="{% url 'account_reset_password' %}">
								{% include 'snippets/form_common.html' %}
								{% for field in form.visible_fields %}
								<div class="form-group">
									{{ field | add_label_class:"text-gray-600 small" }}
									{% render_field field class="form-control form-control-solid" %}
								</div>
								{% endfor %}
								<div class="form-group mb-0">
									<a class="btn btn-primary" type="submit">Reset Password</a>
								</div>
							</form>
						</div>
						<hr class="my-0" />
						<div class="card-body px-5 py-4">
							<div class="small text-center">
								New user?
								<a href=" {% url 'account_signup' %} ">Create an account!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

{% endblock %}
