
{% extends 'account/auth_base.html' %}	

{% load static %}
{% load i18n %}
{% load widget_tweaks %}


{% block content_main %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-8 col-lg-9">
					<!-- Social dashboard form-->
					<div class="card text-dark  my-5">
						<div class="card-body p-5 text-center">
							<div class="h3 font-weight-light mb-3">Create an Account</div>
						</div>
						<hr class="my-0" />
						<div class="card-body p-5">
							<form method="POST" action="">
								{% if wizard.steps.step1 == 1 %}
									<h5> Verify your phone number </h5>
								{% endif %}
								{{ wizard.management_form }}
									{% if wizard.form.forms %}
										{{ wizard.form.management_form  }}
											{% for form in wizard.form.forms %}
												{% include "snippets/form_common.html" with form=form %}
												{% for field in form.visible_fields %}
													<div class="form-group">
														{{ field.errors }}
														{{ field | add_label_class:"text-gray-600 small" }}
														{% render_field field class="form-control form-control-solid" %}
													</div>
												{% endfor %}
											{% endfor %}
									{% else %}
										{% include "snippets/form_common.html" with form=wizard.form %}
										{% for field in wizard.form.visible_fields %}
											<div class="form-group">
												{{ field.errors }}
												{{ field | add_label_class:"text-gray-600 small" }}
												{% render_field field class="form-control form-control-solid" %}
											</div>
										{% endfor %}
									{% endif %}

								<div class="form-group d-flex align-items-center justify-content-between">
									<button class="btn btn-primary" type="submit">Submit</button>
								</div>
							</form>
						</div>
						<hr class="my-0" />
						<div class="card-body px-5 py-4">
							<div class="small text-center">
								Have an account?
								<a href=" {% url 'account_login' %} ">Sign in!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

