
{% with offers=user.get_profile.clubsignings.all %}
{% if offers %}
    {% for offer in offers %}
		<div class="alert alert-success">
			<div class="mb-2">Offer to join club <a href="{{ offer.club.get_absolute_url }}">{{offer.club}}</a></div>
			<div class="mb-2 d-flex">
				<div class="mx-2">
					<form method="POST" action="{% url 'users:acceptsigninoffer' offer.pk %}">
						{% csrf_token %}
						<input value="accept" type="submit" class="btn btn-success btn-sm">
					</form>
					</div>
				<div class="mx-2">
				<form method="POST" action="{% url 'users:regectsigninoffer' offer.pk %}">
					{% csrf_token %}
					<input value="regect" type="submit" class="btn btn-warning btn-sm">
				</form>
					</div>
			</div>
		</div>
    {% endfor %}
{% endif %}
{% endwith %}
 
