
{% load thumbnail %}
<div class="mb-2 mr-2 rounded" style="background-image: linear-gradient(gray,slategray,black); width: 320px;">
	<div class="d-flex p-0 justify-content-start align-items-center">
		<div class="p-1" style="height: 120px; width: 120px;">
			<a href={{ club.get_absolute_url }}>
				{% if club.logo %}
					{% thumbnail club.logo "200x200" upscale=False cropbox=dp.cropbox format="PNG" as im %}
						<img src="{{ im.url }}" alt="Card image cap" height="110" width="110">
					{% endthumbnail %}
				{% else %}
					<div class="h-100 d-flex flex-column justify-content-center align-items-center text-white" style="font-size: 40px; font-weight:bolder">
						<div class="p-2">{{ club.abbr|upper }}</div>
					</div>
				{% endif %}
			</a>
		</div>
		<div class="p-2 text-center">
			<a href={{ club.get_absolute_url }} class="text-white">
				<h5>{{ club }}</h5>
			</a>
		</div>
	</div>
	{% if user.is_superuser and club.user %}
		<form action="/hijack/{{ club.user.id }}/" method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-sm btn-block btn-danger">hijack</button>
		</form>
	{% endif %}
</div>

