
<div class="col-md-4">
	<div class="card mb-4 card-header-actions">
		<div class="card-header">
			{% if club.abbr %}
				{{ club.abbr|upper }}
			{% else %}
				{{ club.name }}
			{% endif %}
			<div class="dropdown no-caret">
				{% if user.is_staff or user == club.user %}
					<button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i data-feather="more-vertical"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownMenuButton">
						{% if user.is_staff or user == club.user %}
							<a class="dropdown-item" href="{% url 'users:clubmemberslist' club.pk %}">list of people</a>
						{% endif %}
						{% if user.is_superuser %}
							<form action="/hijack/{{ club.user.id }}/" method="post">
								{% csrf_token %}
								<button type="submit" class="dropdown-item text-danger">Hijack</button>
							</form>
						{% endif %}
					</div>
			  {% endif %}
			</div>
		</div>
		<a class="card-body" href={{ club.get_absolute_url }}>
			{% if club.abbr %}
				<p class="card-title text-grey h4">{{ club.name|upper }}</p>
			{% endif %}
			<p class="card-title text-grey h6"> <i class="fas fa-phone-alt"></i> {{club.get_contact_number}}</p>
			<p class="card-title text-grey h6"> <strong>Total Players: </strong> {{club.total_players}}</p>
			<p class="card-title text-grey h6"> <strong>U19 Players: </strong> {{club.num_under19_players}}</p>
			<p class="card-title text-grey h6"> <strong>U21 Players: </strong> {{club.num_under21_players}}</p>
		</a>
	</div>
</div>
