
{% load thumbnail %}

<div class="card w-auto ">
	{% with official.profilepicture as dp %}
	  {% if dp %}
			{% thumbnail dp.image "300x300" upscale=False cropbox=dp.cropbox as im %}
				<div class="p-2 m-auto text-center" style="max-width: 300px;">
					<img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
				</div>
			{% endthumbnail %}
			{% if official.club.user == user or user.is_superuser %}
				{% comment %}<div class="text-center">{% endcomment %}
					{% comment %}<a class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Photo"  href="{% url 'dp_edit' dp.pk %}">{% endcomment %}
						{% comment %}<i data-feather='camera'></i>{% endcomment %}
					{% comment %}</a>{% endcomment %}
				{% comment %}</div>{% endcomment %}
			{% endif %}
		{% endif %}
	{% endwith %}
	<hr/>
	<div class="card-body text-center">
		<p class="card-title h6">{{ official.role }}</p>
		<p class="card-title h5">{{ official }}</p>
		<p class="card-text font-weight-bolder"><i data-feather="phone"></i> {{ official.phone_number }}</p>
		<a data-toggle="tooltip" data-placement="top" title="" data-original-title="View Profile" href={{ official.get_absolute_url }} class="btn btn-secondary btn-icon"><i data-feather="eye"></i></a>
		{% if official.club.user == user or user.is_superuser %}
			<a data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Info" 
				href="{% url 'users:updateclubofficialsprofile' official.pk %}" class="btn btn-primary btn-icon">
				<i data-feather="edit"></i>
			</a>
		{% endif %}
	</div>
</div>

