
{% load thumbnail %}
<div class="mb-2">
	<div class="d-flex p-0 text-light rounded" style="background-image:linear-gradient(darkgray,darkslategray)">
		<div class="p-1">
			<a href={{ player.get_absolute_url }}>
				{% with player.profilepicture as dp %}
					{% thumbnail dp.image "120x120" upscale=False cropbox=dp.cropbox as im %}
						<img src="{{ im.url }}" alt="Card image cap">
					{% endthumbnail %}
				{% endwith %}
			</a>
		</div>
		<div class="p-2">
			<a href={{ player.get_absolute_url }} class="text-light" style="line-height: 2px;">
				<h5 class="h5">{{ player }}</h5>
				{% if player.get_phone_number %}
					<p><i class="mdi mdi-phone"></i> {{ player.get_phone_number }}</p>
				{% endif %}
				{% if player.role %}
					<p>{{ player.role }}</p>
				{% endif %}
			</a>
		</div>
	</div>
	{% if user.is_superuser and player.user %}
		<form action="/hijack/{{ player.user.id }}/" method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-sm btn-block btn-danger">hijack</button>
		</form>
	{% endif %}
</div>
