
{% load thumbnail %}
{% load rules %}

<div class="mb-2">
	<div class="d-flex p-0 text-light rounded" style="background-image:linear-gradient(to right,darkgray,black); height: 150px;">
		<div class="p-1 my-auto">
			<a href={{ player.get_absolute_url }}>
				{% with player.profilepicture as dp %}
					{% thumbnail dp.image "120x120" upscale=False cropbox=dp.cropbox as im %}
						<img src="{{ im.url }}" alt="Card image cap">
					{% endthumbnail %}
				{% endwith %}
			</a>
		</div>

		<div class="p-2">
			<a href={{ player.get_absolute_url }} class="text-light" style="line-height: 2px;">
				<h5 class="h5">{{ player }}</h5>
				{% if player.get_phone_number %}
					<p><i class="mdi mdi-phone"></i> {{ player.get_phone_number }}</p>
				{% endif %}
				<p>{{ player.favorite_position }}</p>
				<p>Age: {{ player.get_age }}</p>
				{% if club %}
					<p>Playing for: <a class="text-white" href="{{ club.get_absolute_url }}">{{ club.abbr|upper }}</a></p>
				{% endif %}
				{% test_rule 'manage_profile' user player as can_manage_profile %}
				{% if can_manage_profile %}
					{% if not player.user %}
						<span class="badge badge-pill badge-warning">no account</span>
					{% endif %}
					{% if not player.verification.is_verified %}
						<span class="badge badge-pill badge-danger">not verified</span>
					{% endif %}
				{% endif %}

					{% test_rule 'is_player_removeable' user player as is_player_removeable %}
					{% if is_player_removeable %}
						<a href="{% url 'users:releaseplayer' player.pk %}" class="badge badge-danger"> remove </a>
					{% endif %}

					{% test_rule 'can_end_contract' user player as can_end_contract %}
					{% if can_end_contract %}
						{% test_rule 'end_contract_sent' user.get_club player as end_contract_sent %}
						{% if end_contract_sent %}
							<a href="{% url 'users:deleteendcontract' player.pk %}" class="badge badge-primary"> cancel EOC request </a>
						{% else %}
							<a href="{% url 'users:createendcontract' player.pk %}" class="badge badge-warning"> send EOC request </a>
						{% endif %}	
					{% endif %}
			</a>
		</div>
	</div>

	{% if user.is_club and send_offer %}
		<div>
			{% if player in myoffers %}
				<form method="POST" action="{% url 'users:cancelsigninoffer' player.pk %}">
					{% csrf_token %}
					<input class="btn btn-sm btn-block btn-warning" type="submit" value="Cancel offer">
				</form>
			{% else %}
				<form method="POST" action="{% url 'users:signinoffer' player.pk %}">
					{% csrf_token %}
					<input class="btn btn-block btn-sm btn-success" type="submit" value="Send offer">
				</form>
			{% endif %}
		</div>
	{% endif %}

	{% if user.is_superuser and player.user %}
		<form action="/hijack/{{ player.user.id }}/" method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-sm btn-block btn-danger">hijack</button>
		</form>
	{% endif %}

</div>

