
{% load thumbnail %}
{% load static %}
{% load my_tags %}


{% include "snippets/header-light.html" with title=title subtitle=subtitle  %}
<div class="container">
	<div class="mb-4 text-center">
		{% with object.profilepicture as dp %}
			{% thumbnail dp.image "300x300" cropbox=dp.cropbox upscale=False as im %}
				<div class="p-2 m-auto" style="max-width: 300px;">
					<img class="img-thumbnail" src="{{ im.url }}" alt="Card image cap">
				</div>
			{% endthumbnail %}
			{% if object.user == user%}
				<a class="btn btn-link" href="{% url 'users:dpedit' %}">edit photo</a>
			{% endif %}
		{% endwith %}
	</div>
	{% if user == object.user %}
	<div class="d-flex justify-content-between">
		{% comment %}<a class="btn btn-link" href="users:updateplayersprofile' %}">edit info</a>{% endcomment %}
	</div>
	{% endif %}
	<hr/>
	<div class="row mx-3">
		{% with object.get_age|addstr:" Years" as value %}
			{% include 'dashboard/text_field.html' with name='Age' value=value %}
		{% endwith %}
		{% include 'dashboard/text_field.html' with name='Phone' value=object.get_phone_number %}
		{% include 'dashboard/text_field.html' with name='Email' value=object.email %}
		{% if object.user == user %}
			{% include 'dashboard/text_field.html' with name='Birthday' value=object.dob %}
		{% endif %}
		{% include 'dashboard/text_field.html' with name='Occupation' value=object.occupation %}
		{% include 'dashboard/text_field.html' with name='Prefered foot' value=object.prefered_foot %}
		{% include 'dashboard/text_field.html' with name='Favorite position' value=object.favorite_position %}
		{% include 'dashboard/text_field.html' with name='Height' value=object.get_height %}
		{% include 'dashboard/text_field.html' with name='Weight' value=object.get_weight %}
		<div class="col-md-12 p-1">
			<h6 class="text-black-50">Address</h6>
			<h5 >{{object.address}}</h5>
		</div>
		{% if object.club.user == user or user.is_staff %}
			<a class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Info" href="urlUpdate"><i data-feather='edit'></i></a>
		{% endif %}
	</div>
</div>

