
{% load thumbnail %}
<div class="card w-auto ">
  {% if user.is_superuser %}	
		<div class="card-header">
			{% if player.user %}
				<form action="/hijack/{{ player.user.id }}/" method="post">
					{% csrf_token %}
					<button type="submit" class="dropdown-item text-danger">Hijack</button>
				</form>
			{% endif %}
		</div>
	{% endif %}
	<a class="card-image" href={{ player.get_absolute_url }}>
	{% with player.profilepicture as dp %}
		{% thumbnail dp.image "300x300" upscale=False cropbox=dp.cropbox as im %}
			<div class="p-2 m-auto text-center" style="max-width: 300px;">
				<img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
			</div>
		{% endthumbnail %}
	{% endwith %}
	</a>
	<hr/>
	<a class="card-body text-center" href={{ player.get_absolute_url }}>
		<p class="card-title h5">{{ player }}</p>
		<p class="card-text font-weight-bolder"><i data-feather="phone"></i> {{ player.get_phone_number }}</p>
		<p class="card-text">{{ player.favorite_position }}</p>
	</a>

		{% if user.is_club %}
			{% if not player in myplayers %}
			<div class="card-footer text-center">
					{% if player in myoffers %}
						<form method="POST" action="{% url 'users:cancelsigninoffer' player.pk %}">
								{% csrf_token %}
								<input class="btn btn-sm btn-warning" type="submit" value="Cancel offer">
						</form>
					{% else %}
						<form method="POST" action="{% url 'users:signinoffer' player.pk %}">
								{% csrf_token %}
								<input class="btn btn-sm btn-primary" type="submit" value="Send offer">
						</form>
					{% endif %}
			</div>
			{% endif %}
		{% endif %}

</div>
