{% extends 'registration/base.html' %}

{% load static %}
{% load i18n %}

{% block content_main %}
{% include 'snippets/header-light.html' with title='Account Settings' %}
<!-- Main page content-->
<div class="container mt-4">
	<!-- Account page navigation-->
	<nav class="nav nav-borders">
		<a class="nav-link ml-0" href=" {% url 'account_change_password' %} ">Change Password</a>
	</nav>
	<hr class="mt-0 mb-4" />
	<div class="row">
		{% block content_inner %}{% endblock %}
	</div>
</div>
{% endblock %}
