{% extends 'registration/base.html' %}

{% load widget_tweaks %}

{% block content_main %}

{% block page_header %}
{% if object %}
{% include "snippets/header-light.html" with title=object icon='edit-3' %}
{% else %}
{% include "snippets/header-light.html" with title=user.club icon='edit-3' %}
{% endif %}
{% endblock %}

<div class="container">
	<div class="p-2">
		{% block content_title %}
		{% endblock %}
	  <form method="post" enctype="multipart/form-data">
				{% include 'snippets/form_common.html' %}
				{% for field in form.visible_fields %}
					<div class="form-group">
						{{ field | add_label_class:"small mb-1" }} 
						{% render_field field class="form-control" placeholder=field.label %}
					</div>
				{% endfor %}
			<div class="text-center"> <button class="btn btn-primary" type="submit">Submit</button> </div>
	  </form>
	</div>
</div>

{% endblock %}

