
{% extends 'registration/base.html' %}
{% load my_tags %}
{% load static %}
{% load thumbnail %}

{% block content_main %}

{% with "Edit DP of "|addstr:form.instance.user as title %}
{% include "snippets/header-light.html" with title=title icon='edit' %}
{% endwith %}

<div class="container">
	<form method="post" enctype="multipart/form-data">
		<div class="flex justify-content-center">
			<div class="col-md-4 dpedit">
				{% include 'snippets/form_common.html' with form=form %}
				{% thumbnail form.instance.image "300x300" upscale=False as im %}
				<div class="p-2 m-auto" style="max-width: 300px;">
					<img src="{{ im.url }}" alt="Card image cap">
				</div>
				{% endthumbnail %}
				{{ form }}
			</div>
			<button type="submit" class="btn btn-primary mb-2"> <i data-feather="upload"></i> &nbsp; Submit </button>
		</div>
	</form>
</div>

{% endblock %}

{% block styles_extra %}
		<link href=" {% static 'Jcrop/jcrop.css' %} " rel="stylesheet" />
{% endblock %}

{% block scripts_extra %}
	<script src="{% static 'Jcrop/jcrop.js' %}"></script>
	<script src="{% static 'js/dpedit.js' %}"></script>		
{% endblock %}

