
{% load thumbnail %}

<div class="card w-auto ">
	{% with official.profilepicture as dp %}
	{% thumbnail dp.image "300x300" upscale=False cropbox=dp.cropbox as im %}
		<div class="p-2 m-auto text-center" style="max-width: 300px;">
			<img class="card-img-top rounded-circle" src="{{ im.url }}" alt="Card image cap">
		</div>
	{% endthumbnail %}
	{% endwith %}
	{% if official.club.user == user or user.is_superuser %}
	<div class="text-center">
		<a class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Photo"  href="{% url 'dp_edit' official.profilepicture.pk %}"><i data-feather='camera'></i></a>
	</div>
	{% endif %}
	<hr/>
	<div class="card-body text-center">
		{% if not official.is_player %}
		<p class="card-title h6">{{official.role}}</p>
		{% endif %}
		<p class="card-title h5">{{official}}</p>
		<p class="card-text font-weight-bolder"><i data-feather="phone"></i> {{ official.phone_number }}</p>
		<p class="card-text font-weight-bolder"><i data-feather="calendar"></i> {{ official.date_of_birth }}</p>
		{% comment %}{% if official.is_player %}{% endcomment %}
			{% comment %}<p class="card-text">Favourite position: {{official.Player.favorite_position}}</p>{% endcomment %}
			{% comment %}<p class="card-text">Prefered foot: {{official.Player.prefered_foot}}</p>{% endcomment %}
			{% comment %}<p class="card-text">Age: {{official.get_age}}</p>{% endcomment %}
		{% comment %}{% endif %}{% endcomment %}
		<a data-toggle="tooltip" data-placement="top" title="" data-original-title="View Profile" href={{ official.get_absolute_url }} class="btn btn-secondary btn-icon"><i data-feather="eye"></i></a>

		{% if official.club.user == user or user.is_superuser %}
			<a data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Info" href="{% url 'officials_edit' official.pk %}" class="btn btn-primary btn-icon"><i data-feather="edit"></i></a>
		{% endif %}
	</div>
</div>

