{% load static %}
<div id="layoutSidenav_nav">
	<nav class="sidenav shadow-right sidenav-light">
		<div class="sidenav-menu">
			<div class="nav accordion" id="accordionSidenav">
				<!-- Sidenav Menu Heading (Account)-->
				<!-- * * Note: * * Visible only on and above the sm breakpoint-->
				{% if user.is_club %}
				<a class="nav-link" href={{ user.clubProfile.get_absolute_url }} >
					<div class="nav-link-icon"><i data-feather="dribbble"></i></div>
					My Club
				</a>
				{% endif %}
				<a class="nav-link" href=" {% url 'ClubList' %} ">
					<div class="nav-link-icon"><i data-feather="globe"></i></div>
					All Clubs
				</a>
				{% if user.is_staff %}
				<a class="nav-link" href=" {% url 'officials_list_view' %} ">
					<div class="nav-link-icon"><i data-feather="dribbble"></i></div>
					List of People
				</a>
				{% endif %}
			</div>
		</div>
		<!-- Sidenav Footer-->
		<div class="sidenav-footer">
			<div class="sidenav-footer-content">
				<div class="sidenav-footer-subtitle">Logged in as:</div>
				<div class="sidenav-footer-title">{{ user }}</div>
			</div>
		</div>
	</nav>
</div>
