
{% if event.side == "home" %}
<div class="d-flex flex-row-reverse border-bottom border-gray-800" style="height: 55px;">
{% else %}
<div class="d-flex border-bottom border-gray-800" style="height: 55px;">
{% endif %}

	{% if event.side == "home" %}
	<div class="col-10 text-left px-2 pt-1 d-flex flex-column justify-content-center">
	{% elif event.side == "away" %}
	<div class="col-10 text-right px-2 pt-1 d-flex flex-column justify-content-center">
	{% else %}
	<div class="col-12 text-center px-2 pt-1 d-flex flex-column justify-content-center">
	{% endif %}

		{% if url %}
		<p class="p-0 m-0"> <a class="text-white" style="font-size: large;" href="{{ url }}">{{ event.label | safe }}</a> </p>
		{% elif event.url %}
		<p class="p-0 m-0"> <a class="text-white" style="font-size: large;" href="{{ event.url }}">{{ event.label | safe }}</a> </p>
		{% else %}
		<p class="p-0 m-0 text-white" style="font-size: large;"> {{ event.label | safe }} </p>
		{% endif %}
		{% if event.sublabel %}
			<p class="p-0 m-0" style="font-size: small;">{{ event.sublabel | safe }}</p> 
		{% endif %}
	</div>

	{% if event.side != "neutral" %}
		{% if event.side == "home" %}
		<div class="col-2 d-flex flex-column justify-content-center align-items-center border-right border-gray" >
		{% else %}
		<div class="col-2 d-flex flex-column justify-content-center align-items-center border-left border-gray" >
		{% endif %}
		<i class="color-{{ event.kind }} flaticon-{{ event.kind }}"></i>
			{% if event.time_label %}
				<p class="text-center p-0 m-0" style="color: gray; font-size: small;">{{ event.time_label | safe }}</p>
			{% endif %}
		</div>
	{% endif %}
</div>

<style>
.color-yellow{
	color: yellow;
}
.color-lineup{
	color: cyan;
}
.color-red{
	color: red;
}
.color-goal{
	color: seagreen;
}
.color-sub{
	color: skyblue;
}
</style>
