{% load thumbnail %}
<div class="text-light d-flex p-0 mb-2" style="height: 60px;">
	<div class="col-3 d-flex flex-column justify-content-center align-content-center" >
		{% if timeline.match.home.logo %}
			{% thumbnail timeline.match.home.logo "200x200" upscale=False cropbox=dp.cropbox format="PNG" as im %}
			<a href="{{ timeline.match.home.get_absolute_url }}">
				<img src="{{ im.url }}" alt="Card image cap" height="90" width="90">
			</a>
			{% endthumbnail %}
		{% endif %}
		<a class="m-auto text-light" href={{ timeline.match.home.get_absolute_url }}> {{ timeline.match.home.abbr|upper }} </a>
	</div>
	<div class="col-6 d-flex flex-column justify-content-center align-content-center text-center" >
		<p class="p-0 m-0" style="font-size: large;"> {{ timeline.score_as_string }} </p>
		<p class="p-0 m-0" style="font-size: small; color: gray;">{{ timeline.get_time_string }}</p> 
	</div>
	<div class="col-3 d-flex flex-column justify-content-center align-content-center" >
		{% if timeline.match.away.logo %}
			{% thumbnail timeline.match.away.logo "200x200" upscale=False cropbox=dp.cropbox format="PNG" as im %}
			<a href="{{ timeline.match.away.get_absolute_url }}">
				<img src="{{ im.url }}" alt="Card image cap" height="90" width="90">
			</a>
			{% endthumbnail %}
		{% endif %}
		<a class="m-auto text-light" href={{ timeline.match.away.get_absolute_url }}> {{ timeline.match.away.abbr|upper }} </a>
	</div>
</div>
