
{% load thumbnail %}
{% load static %}
{% load my_tags %}
{% load i18n %}
{% load rules %}

{% include 'dashboard/match/partials/match_details_head.html' %}
<h5 class="text-center"> Enter match details </h5>
{% test_rule 'manage_match' user as can_manage_match %}

{% if can_manage_match %}

		<div class="d-flex p-1 justify-content-center">
			<form method="POST" action="{% url 'dash:activatepast' match.pk %}">
				{% include 'snippets/form_common.html' %}
				{% if onspot %}
					<button class="btn btn-lg btn-block btn-primary text-light" type="submit" name="action" value="past">Switch to Past Panel</button>
				{% else %}
					<button class="btn btn-lg btn-block btn-primary text-light" type="submit" name="action" value="onspot"> Switch to Onspot Panel</button>
				{% endif %}
			</form>
		</div>

		{% if not match.get_home_squad %}
			<div class="d-flex p-1 justify-content-center">
				<form method="POST" action="{% url 'dash:startmatchtimeline' match.pk %}">
					{% include 'snippets/form_common.html' %}
					<button class="btn btn-lg btn-block btn-primary text-light" type="submit">Start Timeline</button>
				</form>
			</div>
		{% endif %}

		{% if match.get_home_squad %}
			<div class="d-flex p-1">
				<a href="{% url 'dash:addfirstteam' match=match.pk club=match.home.pk %}" class="btn btn-lg btn-block text-light" style="background-color: darkred;">
					Edit {{ match.home.abbr|upper }} squad
				</a>
			</div>
		{% endif %}
		
		{% if match.get_away_squad %}
			<div class="d-flex p-1">
				<a href="{% url 'dash:addfirstteam' match=match.pk club=match.away.pk %}" class="btn btn-lg btn-block text-light" style="background-color: darkblue;">
					Edit {{ match.away.abbr|upper }} squad
				</a>
			</div>
		{% endif %}

		{% if not match.is_done %}
			<div class="d-flex p-1">
				<a href="{% url 'match:finalizematch' match.pk %}" class="btn btn-lg btn-block text-light" style="background-color: darkcyan;">
					Finalize Match
				</a>
			</div>
		{% endif %}

		{% if match.matchtimeline.final_time %}
			<div class="d-flex p-1">
				<a href="{% url 'match:finalizematch' match.pk %}" class="btn btn-lg btn-block text-light btn-primary" >
					Finalize Match
				</a>
			</div>

			<div class="d-flex p-1">
				<a href="{% url 'stats:updateplayerstat' match.pk %}" class="btn btn-lg btn-block text-light" style="background-color: darkgreen;">
					Update Player Stats
				</a>
			</div>
		{% endif %}

{% endif %}
