
{% load thumbnail %}
{% load static %}
{% load my_tags %}
{% load i18n %}
{% load rules %}

{% include 'dashboard/match/partials/match_details_head.html' %}
<h5 class="text-center"> Register Match Events (Past) </h5>

{% test_rule 'manage_match' user as can_manage_match %}
{% if can_manage_match %}
	{% if match.get_away_squad.is_finalized and match.get_home_squad.is_finalized and not match.matchtimeline.first_half_start %}
			<a href="{% url 'dash:startmatch' pk=match.pk %}" class="btn btn-lg btn-block text-light" style="background-color: green;">
				Start Match
			</a>
	{% endif %}
	
	{% if match.matchtimeline.first_half_start and not match.matchtimeline.half_time %}
			<a href="{% url 'dash:halftime' pk=match.pk %}" class="btn btn-lg btn-block text-light" style="background-color: red;">
				Half Time
			</a>
			{% include 'dashboard/match/partials/match_entry_panel.html' %}
	{% elif match.matchtimeline.half_time and not match.matchtimeline.second_half_start %}
	
			<a href="{% url 'dash:secondhalf' pk=match.pk %}" class="btn btn-lg btn-block text-light" style="background-color: green;">
				Second half
			</a>
	{% elif match.matchtimeline.second_half_start and not match.matchtimeline.final_time %}
			<a href="{% url 'dash:finaltime' pk=match.pk %}" class="btn btn-lg btn-block text-light" style="background-color: red;">
				Final Time
			</a>
			{% include 'dashboard/match/partials/match_entry_panel.html' %}
	{% endif %}
{% endif %}
