{% load thumbnail %}

<div class="dpedit text-center">
	<form method="post" id="id_form" class="d-inline-block">
		{% include 'snippets/form_common.html' with form=form %}
		{% thumbnail form.instance.image "300x300" upscale=False as im %}
		<div class="p-2 m-auto" style="max-width: 300px;">
			<img src="{{ im.url }}" alt="Card image cap">
		</div>
		{% endthumbnail %}
		{{ form }}
	</form>
	<div class="col-12 text-center">
		<button onclick="document.getElementById('id_form').submit()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upload" class="btn btn-primary btn-icon"> 
			<i data-feather="upload"></i>
		</button>
		<form class="d-inline" method="post" action={{ form.instance.get_upload_url }} enctype="multipart/form-data">
			{% csrf_token %}
			<label class="btn btn-outline-primary btn-icon mb-0">
				<i data-feather="camera"></i>
				<input type="file" name="image" style="position:fixed;bottom:100%;right:100%;">
			</label>
		</form>
	</div>
</div>
