{% load static %}
{% load hijack_tags %}
{% load thumbnail %}
<nav class="topnav navbar navbar-expand shadow justify-content-end" id="sidenavAccordion">
	<!-- Navbar Items-->
	{% if request|is_hijacked %}
	<form action="/hijack/release-hijack/" method="POST">
		{% csrf_token %}
		<button class="btn btn-danger btn-icon"> <i class="mdi mdi-logout"></i> </button>
	</form>
	{% endif %}

	<!-- Sidenav Toggle Button-->
	<button class="btn btn-icon btn-transparent-light order-1 order-lg-0 mr-lg-2" id="sidebarToggle">
		<i class="mdi mdi-menu"></i>
	</button>
</nav>
