{% extends 'dashboard/base.html' %}

{% load thumbnail %}
{% load static %}
{% load my_tags %}
{% load i18n %}

{% block content_main %}
	<div class="container-fluid">
		<ul class="nav nav-tabs nav-justified" role="tablist">

			<li class="nav-item">
				{% if match.kickoff %}
					<a class="nav-link" data-toggle="tab" href="#main" role="tab" >Main</a>
				{% else %}
					<a class="nav-link active" data-toggle="tab" href="#main" role="tab" >Main</a>
				{% endif %}
	  	</li>

			<li class="nav-item">
				{% if match.kickoff %}
					<a class="nav-link active" data-toggle="tab" href="#events" role="tab" >Ev</a>
				{% else %}
					<a class="nav-link" data-toggle="tab" href="#events" role="tab" >Ev</a>
				{% endif %}
	  	</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#timeline" role="tab" >TL</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#playershome" role="tab" >Sub(H)</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#playersaway" role="tab" >Sub(A)</a>
			</li>

		</ul>	

		<div class="tab-content" id="myTabContent">
			{% if match.kickoff %}
			<div class="tab-pane fade " id="main" role="tabpanel" aria-labelledby="home-tab">
			{% else %}
			<div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="home-tab">
			{% endif %}
				{% include 'dashboard/match/partials/match_entry_panel_main.html' %}
			</div>

			{% if match.kickoff %}
				<div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="home-tab">
			{% else %}
				<div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="home-tab">
			{% endif %}
				{% include 'dashboard/match/partials/match_entry_panel_events.html' %}
			</div>

			<div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="profile-tab">
				{% include 'dashboard/match/partials/timeline.html' with timeline=match.matchtimeline %}
			</div>

			<div class="tab-pane fade" id="playershome" role="tabpanel" aria-labelledby="profile-tab">
				{% include 'dashboard/match/partials/players.html' with club=match.home squad=match.get_home_squad sub_saved=home_sub_save side='home' %}
			</div>

			<div class="tab-pane fade" id="playersaway" role="tabpanel" aria-labelledby="profile-tab">
				{% include 'dashboard/match/partials/players.html' with club=match.away squad=match.get_away_squad sub_saved=away_sub_save side='away' %}
			</div>

		</div>
	</div>
{% endblock %}

{% block scripts_extra %} 
	<script src="{% static 'match/sub.js' %}"></script>
{% endblock %}

