{% extends 'dashboard/base.html' %}

{% load thumbnail %}
{% load static %}
{% load my_tags %}
{% load i18n %}

{% block content_main %}
	{% with match=squad.match players=squad.get_first_players sub_players=squad.get_bench_players %}
	<h6 class=" mt-2 text-center">Finalize Squad</h6>
	{% include 'fixture/partials/match_card.html' with match=match %}
	<hr/>
	<div class="alert alert-warning"> 
		<h4>{% translate "Attention" %}</h4>
		{% translate "Once finalized, You won't be able to change the squad for this match! For any further query please contact VFL Match Manager" %} 
	</div>
	<div class="container-fluid">
		{% include 'snippets/messages.html' %}
		<div class="mb-4">
			<h4> First Team ({{ players|length }}) </h4>
			<hr class="mt-0"/>
			<div class="row overflow-auto mb-2" style="max-height: 40vh;">
				{% for player in players %}
					<div class="col-md-4 mb-3">
						<div class="d-flex align-content-center">
							{% include 'users/partials/player_card_small.html' with player=player %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="mb-4 p-1 rounded bg-dark">
			<h4> Sub Team ({{ sub_players|length }}) </h4>
			<hr class="mt-0"/>
			<div class="row overflow-auto mb-2" style="max-height: 40vh;">
				{% for player in sub_players %}
					<div class="col-md-4 mb-3">
						<div class="d-flex align-content-center">
							{% include 'users/partials/player_card_small.html' with player=player %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="d-flex">
		<div class="col-12">
		<form method="POST">
			{% include 'snippets/form_common.html' %}
			<div class="form-group">
				<button type="submit" class="btn btn-block btn-warning">Finalize</button>
			</div>
		</form>
		</div>
	</div>
	{% endwith %}
{% endblock %}

