{% extends 'dashboard/base.html' %}

{% load thumbnail %}
{% load static %}
{% load my_tags %}
{% load i18n %}

{% block content_main %}
	{% include 'fixture/partials/match_card.html' with match=match %}
	{% include 'users/partials/club_banner.html' with club=club %}
	<h6 class=" mt-2 text-center">Finalize Squad</h6>
	<hr/>
	<div class="alert alert-warning"> 
		<h4>{% translate "Attention" %}</h4>
		{% translate "Once finalized, You won't be able to change the squad for this match! For any further query please contact VFL Match Manager" %} 
	</div>
	<div class="container-fluid">
		<div class="mb-4 p-1 text-center rounded" style="background-color: darkgreen;">
			<h4> First Team ({{ squad.num_players }}) </h4>
			<hr class="mt-0"/>
			<div class="row overflow-auto mb-2" style="max-height: 40vh;">
				{% for player in squad.players.all %}
					<div class="col-md-4 mb-3">
						<div class="d-flex align-content-center">
							{% include 'users/partials/player_card_small.html' with player=player %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="mb-4 p-1 text-center rounded" style="background-color: darkred;">
			<h4> Sub Team ({{ squad_av.num_players }}) </h4>
			<hr class="mt-0"/>
			<div class="row overflow-auto mb-2" style="max-height: 40vh;">
				{% for player in squad_av.players.all %}
					<div class="col-md-4 mb-3">
						<div class="d-flex align-content-center">
							{% include 'users/partials/player_card_small.html' with player=player %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

		<form method="POST">
			{% include 'snippets/form_common.html' %}
			<div class="d-flex justify-content-around">
				<a href="{% url 'dash:addsubteam' match=match.pk club=club.pk %}" class="btn btn-info">Previous</a>
				<button type="submit" class="btn btn-warning">Finalize</button>
			</div>
		</form>


{% endblock %}

