{% extends 'dashboard/base.html' %}

{% load thumbnail %}
{% load static %}
{% load my_tags %}

{% block content_main %}
	{% include 'users/partials/club_banner.html' with club=club %}
	<h6 class=" mt-2 text-center">{{ title }}</h6>
	<hr/>
	<div class="container-fluid p-1">
		<form method="POST" action="">
			{% include 'snippets/form_common.html' %}
				{% for field in form.visible_fields %}
					<div class="form-group">
						{{ field.errors }}
						{{ field | add_label_class:"small" }}
						{% render_field field class="form-control form-control-solid" %}
					</div>
				{% endfor %}
	
			<div class="form-group d-flex align-items-center justify-content-between">
			<button class="btn btn-primary" type="submit" name="kind" value="{{ kind }}" >Submit</button>
			<a href="{{ backurl }}" class="btn btn-warning"> cancel </a>
			</div>
		</form>
	</div>
{% endblock %}


{% block scripts_extra %}
	<script>
$(document).ready(function() {
	$('#playersTable').DataTable({
		"ordering": false,
		"order":[],
		"pageLength": 5,
	});
});
	</script>
{% endblock %}
