
	<table class="table table-borderless" id="playersTable" width="100%" cellspacing="0">
		<thead class="d-none">
			<th class="text-center text-light h4">Player</th>
		</thead>
		<tbody>
			{% for player in players %}
			<tr>
				<td>
					<div class="d-flex align-content-center">
						<div class="col-10 px-0">
						{% include 'users/partials/player_card_small.html' with player=player %}
						</div>
						<div class="col-2 px-0">
							<form class="h-100" method="POST">
								{% include 'snippets/form_common.html' %}
								<input type="hidden" name="action" value="add" />
								<input type="hidden" name="pk" value="{{ player.pk }}" />
								<button type="submit" class="btn btn-sm btn-success h-100">+</button>
							</form>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

