
<div class="mb-4">
	<table class="table table-bordered table-hover" id="{{id}}" width="100%" cellspacing="0">
		<thead>
			<th>Name</th>
			<th>DoB</th>
			<th>Club</th>
			<th>user</th>
			<th>Reviewed by</th>
		</thead>
		<tbody>
			{% for v in ver %}
			{% if v.profile.get_club or v.profile.user %}
				<tr>
					<td>
						<a href="{% url 'dash:reviewplayerprofile' v.pk %}">{{ v.profile }}</a>
					</td>
					<td>{{ v.profile.dob }}</td>
					<td> {{ v.profile.get_club.abbr|upper }} </td>
					<td> {{ v.profile.user|default:"No account" }}</td>
					<td> {{ v.last_updated_by }} </td>
				</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
