{% load thumbnail %}
{% load my_tags %}
{% load i18n %}
<div class="p-2 rounded" style="background-image: linear-gradient(darkslategray, silver)">
	<div class="mb-4 text-center">
		{% with object.profilepicture as dp %}
			{% thumbnail dp.image "300x300" cropbox=dp.cropbox upscale=False as im %}
				<div class="p-2 m-auto" style="max-width: 300px;">
					<img class="img-thumbnail" src="{{ im.url }}" alt="Card image cap">
				</div>
			{% endthumbnail %}
		{% endwith %}
	</div>
	<h2>{{ object }}</h2>
		{% if object.get_club %}
		<p>{{ "Player of club "|addstr:object.get_club }}</p>
		{% else %}
		 <p>	{{ "Not signed in with any club" }}</p>
		{% endif %}
	<hr/>
	<div class="row mx-3 mb-4">
		{% include 'dashboard/text_field.html' with name='Phone' value=object.get_phone_number %}
		{% include 'dashboard/text_field.html' with name='Email' value=object.email %}
		{% include 'dashboard/text_field.html' with name='Birthday' value=object.dob %}
		{% include 'dashboard/text_field.html' with name='Age' value=object.get_age %}
		{% include 'dashboard/text_field.html' with name='Occupation' value=object.occupation %}
		{% include 'dashboard/text_field.html' with name='Prefered foot' value=object.prefered_foot %}
		{% include 'dashboard/text_field.html' with name='Favorite position' value=object.favorite_position %}
		{% include 'dashboard/text_field.html' with name='Height' value=object.get_height %}
		{% include 'dashboard/text_field.html' with name='Weight' value=object.get_weight %}
		<div class="col-md-12 p-1">
			<h6>Address</h6>
			<h5 >{{object.address}}</h5>
		</div>
	</div>
		{% for document in object.documents.documents.all %}
			{% with document as dp %}
				<div class="d-flex justify-content-center">
					<h4>{{ dp.document_type }}</h4>
				</div>
				<div class="d-flex justify-content-center">
					{% with dp.image as im %}
						<div class="p-2 m-auto" style="max-width: 300px;">
							<img class="img-thumbnail" src="{{ im.url }}" alt="Card image cap">
						</div>
					{% endwith %}
				</div>
			{% endwith %}
		{% endfor %}
	</div>

