{% extends 'base.html' %}
{% load static %}
{% load hijack_tags %}

{% block body %} 
		class="bg-dark text-white nav-fixed"
{% endblock %}

	{% block content %}
			{% include 'topbar.html' %}

		<div id="layoutSidenav">
				{% include 'dashboard/sidenav.html' %}
				<div id="layoutSidenav_content">

					<main class="ml-1">
						{% block content_main %} {% endblock %}
					</main>

					<footer class="footer mt-auto footer-light">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 small">VFL 2021</div>
								{% comment %}<div class="col-md-6 small">Copyright &copy; VFL 2021</div>{% endcomment %}
								{% comment %}<div class="col-md-6 text-md-right small">{% endcomment %}
									{% comment %}<a href=" {% static '#!' %} ">Privacy Policy</a>{% endcomment %}
									{% comment %}&middot;{% endcomment %}
									{% comment %}<a href=" {% static '#!' %} ">Terms &amp; Conditions</a>{% endcomment %}
								{% comment %}</div>{% endcomment %}
							</div>
						</div>
					</footer>
				</div>

		</div>
{% endblock %}

	{% block scripts_extra %}
		<script>
			$(function () {
			    $('#id_dob').daterangepicker(
			        {
			            singleDatePicker: true,
			            showDropdowns: true,
			            minYear: 1950,
			            maxYear: parseInt(moment().format("YYYY"), 10),
									locale: {
									      format: 'YYYY-MM-DD'
									}
			        }
			    );
			});
		</script>
	{% endblock %}
