{% extends 'dashboard/base.html' %}

{% load thumbnail %}
{% load static %}
{% load my_tags %}

{% block content_main %}
	<div class="container-fluid p-1">
		{% if matches %}
			<h3 class="text-center">Upcoming Matches</h3>
			<div class="overflow-auto">
				{% include 'fixture/partials/calendar.html' with matches=matches %}
			</div>
		{% endif %}
		{% if done_matches %}
			<h3 class="text-center">Completed Matches</h3>
			<div class="overflow-auto">
				{% include 'fixture/partials/calendar.html' with matches=done_matches %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block scripts_extra %}
	<script>
	$(document).ready(function() {
		console.log('something')
		$('.fixture-table').each(function(){
			console.log(this);
			$(this).DataTable({
				"ordering": false,
				"pageLength": 10,
				"order":[],
			})
		})
		{% comment %}$('#fixtureTable').DataTable({{% endcomment %}
			{% comment %}"ordering": false,{% endcomment %}
			{% comment %}"order":[],{% endcomment %}
			{% comment %}"pageLength": 10,{% endcomment %}
		{% comment %}});{% endcomment %}
	});
	</script>
{% endblock %}

