{% extends 'dashboard/account_base.html' %}
{% load widget_tweaks %}
{% load i18n %}


{% block content_inner %}
<div class="col-lg-8">
	<!-- Change password card-->
	<div class="card mb-4">
		<div class="card-header">Change Password</div>
		<div class="card-body">
			<form method="POST" action="{% url 'account_change_password' %}" >
        {% csrf_token %}
				{% include 'snippets/form_common.html' %}

				{% for field in form.visible_fields %}
					<div class="form-group">
						{{ field | add_label_class:"small mb-1" }} 
						{% render_field field class="form-control" placeholder=field.label %}
					</div>
				{% endfor %}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}
