
{% extends 'dashboard/base.html' %}
{% load thumbnail %}
{% load static %}
{% load my_tags %}
{% load i18n %}
{% load rules %}
{% load tz %}

{% block body %} 
		class="text-white nav-fixed" style="background-color: black" 
{% endblock %}

{% block content_main %}
	<h2 class="text-center"> Possible duplicate profiles </h2>
	<hr/>
	<div class="mt-2">
		<div class="bg-dark py-2 mb-2">
			<table class="table table-dark table-responsive-md match-table" width="100%" cellspacing="0">
				<thead>
					<th>DoB</th> <th>Name</th> <th>Club</th> <th>username</th> <th>status</th><th>action</th>
				</thead>
				<tbody>
					{% for key, objs in groupbydob.items %}
						{% for obj in objs %}
							<tr>
								{% if forloop.first %}
									<td rowspan="{{ objs|length }}"> {{ obj.dob }} </td>
								{% endif %}
								<td> <a href="{{ obj.get_absolute_url }}">{{ obj|capfirst }}</a> </td>
								<td> {{ obj.get_club.abbr|upper }} </td>
								<td> {{ obj.user|default:"NO ACCOUNT" }} </td>
								<td> {{ obj.verification.status }} </td>
								<td><a href="{% url 'users:deleteprofile' obj.pk %}">delete</a></td>
							</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

