
{% extends 'dashboard/base.html' %}
{% load thumbnail %}

{% block content_main %}

<div class="container-fluid p-1">
	{% include 'snippets/messages.html' %}
	<div class="p-2 rounded" style="background-image: linear-gradient(darkslategray, silver)">
		<h2>{{object}}</h2>
		<div class="mb-4">
			{% if user == object.user %}
			<div class="row">
					<div class="col-12">
						<p class="mb-0 mt-5 text-right">
						<a href="{% url 'users:updateclubprofile' %}">edit</a>
						</p>
					</div>
			</div>
			{% endif %}
			<hr class="mt-2 mb-4" />
			<h4> Abbreviation: <strong>{{ object.abbr|default:""|upper }}</strong></h4>
			<p class="h6">Address: <strong> {{object.address}}</strong></p>
			{% if object.year_of_formation %}
				<p class="h6">Year of Formation: <strong> {{object.year_of_formation}}</strong></p>
			{% endif %}
			<p class="h6">Total Players : <strong> {{object.total_players}}</strong></p>
			<p class="h6">U19 Players : <strong> {{object.num_under19_players}}</strong></p>
			<p class="h6">U21 Players : <strong> {{object.num_under21_players}}</strong></p>
		</div>
	</div>

	<div class="mb-4">
		<h3 class="mb-0 mt-5">Players</h3>
		<hr class="mt-2 mb-4" />
		<div class="row">
			{% for official in object.get_players %}
				<div class="col-md-4 mb-3">
					{% include "users/partials/players_card.html" with player=official %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="mb-4">
		<div class="row">
		<div class="col-12">
			<h3 class="mb-0 mt-5">Club Executives</h3>
		</div>
		</div>
		<hr class="mt-2 mb-4" />
		<div class="row">
			{% for official in object.officials.all %}
				<div class="col-md-4 mb-3">
					{% include "users/partials/officials_card.html" with player=official %}
				</div>
			{% endfor %}
		</div>
	</div>

</div>
{% endblock %}

