{% extends 'dashboard/base.html' %}

{% load thumbnail %}
{% load static %}
{% load my_tags %}

{% block content_main %}


{% if object.club %}
	{% with object.role|addstr:" of club "|addstr:object.club as subtitle %}
		{% include 'users/partials/club_officials_profile.html' with object=object title=object subtitle=subtitle %}
	{% endwith %}
{% else %}
	{% with "Not associated with any club now" as subtitle %}
		{% include 'users/partials/club_officials_profile.html' with object=object title=object subtitle=subtitle %}
	{% endwith %}
{% endif %}

{% endblock %}

