{% extends 'registration/base.html' %}
{% load static %}
{% load thumbnail %}
{% load my_tags %}

{% block content_main %}

{% with "members of "|addstr:object.name as title %}
	{% include "snippets/header-light.html" with title=title %}
{% endwith %}

<div class="container">
	<div class="mb-4">
		<div class="card-body">
			<div class="datatable">
				<table class="table table-responsive-md table-bordered table-hover hover table-striped table-light bg-secondary-soft" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Role</th>
							<th>Phone</th>
							<th>Age</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Role</th>
							<th>Phone</th>
							<th>Age</th>
						</tr>
					</tfoot>
					<tbody>
						{% for member in object.officials.all %}
						<tr>
							<td><a href="{% url 'users:clubofficialsprofile' member.pk %}">{{ member }}</a></td>
							<td>{{ member.role }}</td>
							<td>{{ member.get_phone_number }}</td>
							<td>{{ member.get_age }}</td>
						</tr>
						{% endfor %}
						{% for member in object.players.all %}
						<tr>
							<td><a href="{% url 'users:playersprofile' member.pk %}">{{ member }}</a></td>
							<td>Player</td>
							<td>{{ member.get_phone_number }}</td>
							<td>{{ member.get_age }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts_extra %}
	<script src=" {% static 'assets/demo/datatables-demo.js' %} "></script>
{% endblock %}
