
{% extends 'registration/base.html' %}

{% load thumbnail %}

{% block content_main %}

{% include "snippets/header-simplified.html" with title=object %}

<div class="container">
	{% include 'snippets/messages.html' %}
	<div class="mb-4">
		<div class="row">
		<div class="col-10">
			<h3 class="mb-0 mt-5">General Information</h3>
		</div>
		{% if user == object.user or user.is_superuser %}
			<div class="col-2">
				<p class="mb-0 mt-5 text-right">
				<a href="{% url 'users:updateclubprofile' object.pk %}"><i data-feather="edit"></i></a>
				</p>
			</div>
		{% endif %}
		</div>
		<hr class="mt-2 mb-4" />
		<h4 class="card-title text-secondary"> <strong>{{ object.abbr|default:"" }}</strong></h4>
		<p class="card-title text-secondary h6">Address: <strong> {{object.address}}</strong></p>
		<p class="card-title text-secondary h6">Year of Formation: <strong> {{object.year_of_formation}}</strong></p>
		<p class="card-title text-secondary h6">Total Players : <strong> {{object.total_players}}</strong></p>
		<p class="card-title text-secondary h6">U19 Players : <strong> {{object.num_under19_players}}</strong></p>
		<p class="card-title text-secondary h6">U21 Players : <strong> {{object.num_under21_players}}</strong></p>
	</div>

	{% with jerseypictures=object.jerseypictures.all %}
	<div class="mb-4">
		<div class="row">
		<div class="col-10">
			<h3 class="mb-0 mt-5">Jersey</h3>
			{% if user == object.user and jerseypictures|length < 3 %}
			<small> Add upto 3 Jerseys </small>
			{% endif %}
		</div>
		{% if user == object.user and jerseypictures|length < 3 %}
		{% comment %}<div class="col-2">{% endcomment %}
			{% comment %}<p class="mb-0 mt-5 text-right">{% endcomment %}
			{% comment %}<a href="{% url 'users:addjersey' %}"><i class="fa fa-plus"></i></a>{% endcomment %}
			{% comment %}</p>{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% endif %}
		</div>
		<hr class="mt-2 mb-4" />
		<div class="row">
			{% if jerseypictures|length > 0 %}
			{% for jersey in jerseypictures %}
			<div class="col-md-4 mb-4">
				<div class="card w-auto">
					{% thumbnail jersey.image "300x300" as im %}
					<div class="p-2 m-auto" style="max-width: 300px;">
						<img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
					</div>
					{% if user == object.user %}
					<div class="card-body">
						{% comment %}<a class="btn btn-link" href="{% url 'UpdateJersey' jersey.pk %}"><i class="fa fa-edit"></i> edit </a>{% endcomment %}
						{% comment %}<a class="btn btn-link" href="{% url 'DeleteJersey' jersey.pk %}"><i class="fa fa-trash"></i> delete </a>{% endcomment %}
					</div>
					{% endif %}
					{% endthumbnail %}
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	{% endwith %}

	<div class="mb-4">
		<div class="row">
		<div class="col-12">
			<h3 class="mb-0 mt-5">Club Officials</h3>
		</div>
		{% if user == object.user %}
			{% comment %}<div class="col-12">{% endcomment %}
			{% comment %}{% if not user.club.president %}{% endcomment %}
				{% comment %}<a class="mr-2" href="{% url 'AddOfficials' 'President' %}"><i class="fa fa-plus"></i> President </a>{% endcomment %}
			{% comment %}{% endif %}{% endcomment %}
			{% comment %}{% if not user.club.secretary %}{% endcomment %}
				{% comment %}<a class="mr-2" href="{% url 'AddOfficials' 'Secretary' %}"><i class="fa fa-plus"></i> Secretary </a>{% endcomment %}
			{% comment %}{% endif %}{% endcomment %}
			{% comment %}{% if not user.club.manager %}{% endcomment %}
				{% comment %}<a class="mr-2" href="{% url 'AddOfficials' 'Manager' %}"><i class="fa fa-plus"></i> Manager </a>{% endcomment %}
			{% comment %}{% endif %}{% endcomment %}
			{% comment %}</div>{% endcomment %}
		{% endif %}
		</div>
		<hr class="mt-2 mb-4" />
		<div class="row">
			{% for official in object.officials.all %}
				<div class="col-md-4 mb-3">
					{% include "users/partials/officials_card.html" with official=official %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="mb-4">
		<h3 class="mb-0 mt-5">Players</h3>
		<hr class="mt-2 mb-4" />
		<div class="row">
			{% for official in object.players.all %}
				<div class="col-md-4 mb-3">
					{% include "users/partials/players_card.html" with player=official %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

