
{% extends 'dashboard/base.html' %}
{% load my_tags %}
{% load static %}
{% load thumbnail %}

{% block content_main %}

{% with "Profile photo" as title %}
{% include "snippets/header-light.html" with title=title icon='edit' %}
{% endwith %}

<div class="container">
	<div class="flex justify-content-center">
		{% include 'snippets/dp_edit.html' with form=form %}
	</div>
</div>

{% endblock %}

{% block styles_extra %}
		<link href=" {% static 'Jcrop/jcrop.css' %} " rel="stylesheet" />
{% endblock %}

{% block scripts_extra %}
	<script src="{% static 'Jcrop/jcrop.js' %}"></script>
	<script src="{% static 'js/dpeditv1.js' %}"></script>		
{% endblock %}

