{% extends 'registration/base.html' %}

{% load thumbnail %}
{% load static %}
{% load my_tags %}

{% block content_main %}

{% if object.club %}
{% with "Player of club "|addstr:object.club as subtitle %}
	{% include "users/partials/players_profile.html" with object=object title=object subtitle=subtitle  %}
{% endwith %}
{% else %}
{% with "Currently not signed in with any club" as subtitle %}
	{% include "users/partials/players_profile.html" with object=object title=object subtitle=subtitle  %}
{% endwith %}
{% endif %}

{% endblock %}

