{% extends 'public/base.html' %}

{% load static %}
{% load thumbnail %}

{% block content %}
	<div class="container">
		<div class="d-flex justify-content-between mt-1">
			<div class="mb-2">
				Follow us:
				<a href="https://www.instagram.com/football_league_vaniyamkulam/">
					<span class="mdi mdi-instagram"></span>
				</a>
				<a href="https://www.facebook.com/vaniyamkulamfootballleague">
					<i class="mdi mdi-facebook"></i>
				</a>
			</div>

			<div class="mb-2">
			<a href="{% url 'login' %}" class="text-secondary" >
				<i class="mdi mdi-login"></i>
			</a>
			</div>	
		</div>
		<div class="text-white">
			<img src="{% static 'public/brochure/vfl-1.png' %}" class="img-fluid">
			<div class="p-2">
				<p class="lead"> 
					പ്രിയമുള്ളവരേ, യൂറോപ്പ്യൻ ഫുട്‌ബോൾ ലീഗുകൾ മാതൃകയാക്കി ഒരു പ്രാദേശിക സെവൻസ് ഫുട്‌ബോൾ ലീഗ് ഈ മാസം അവസാനത്തോടെ വാണിയംകുളത്ത് (VFL) ആരംഭിക്കുകയാണ്. കേരളം ഫുട്‌ബോളിനെ നെഞ്ചേറ്റിയ നാടായിട്ടു പോലും എന്തുകൊണ്ട് സ്ഥിരമായ പ്രാദേശിക ലീഗുകൾ സംഘടിപ്പിക്കപ്പെട്ടില്ല എന്ന ചിന്തയിൽ നിന്നും കോവിഡ് ലോക്ക്ഡൗണ് കാലത്ത് രൂപപ്പെട്ട ഒരു ആശയം ആണിത്. അക്കാലത്ത് തന്നെ അതിന്റെ ട്രയൽ മത്സരങ്ങൾ ആരംഭിച്ചു.
					വാണിയംകുളം പഞ്ചായത്ത് പരിധിക്ക് ഉള്ളിൽ വരുന്ന 14 ടീമുകൾ ലീഗിലേക്ക് രെജിസ്റ്റർ ചെയ്തു.
					ഓൺലൈൻ ആയാണ് രജിസ്‌ട്രേഷൻ. 
					ഓരോ ടീമുകളും പരസ്പരം സ്വന്തം മൈതാനത്തും (home) എതിർ മൈതാനത്തും (away) ആയി 2 തവണ ഏറ്റുമുട്ടും. 
					ജയത്തിന് 3 പോയിന്റ്, സമനിലക്ക് 1 പോയിന്റ്, തോൽവിക്ക് 0 പോയന്റ് എന്ന അടിസ്ഥാനത്തിൽ പോയിന്റ് പട്ടിക തയ്യാറാകും. ആഴ്ചയിൽ കുറഞ്ഞത് 7 മത്സരങ്ങൾ നടക്കും. 
					7 മൈതാങ്ങളിലായി 7 മാസം നീണ്ടു നിൽക്കുന്ന ലീഗിൽ ആകെ 182 കളികൾ സംഘടിപ്പിക്കപ്പെടും.  
					കോവിഡ് മാനദണ്ഡങ്ങൾ പാലിച്ചുകൊണ്ട് കളികൾ ആരംഭിക്കും. 
					പ്രൊഫഷണൽ റഫറിമാർ കളികൾ നിയന്ത്രിക്കും.  
					ഒടുവിൽ പോയിന്റ് പട്ടികയിലെ ആദ്യ മൂന്ന് സ്ഥാനക്കാർക്ക് 60000 രൂപയെങ്കിലും ക്യാഷ് അവാർഡ് നൽകും. 
					പുറമെ വ്യക്തിഗത മികവുകൾ ആദരിക്കപ്പെടും. 
					Under-19 Under-21 വയസ്സുകാർക്ക് ടീമിൽ സംവരണം ഏർപ്പത്തി കൊണ്ട് പുതുതലമുറക്ക് പരമാവധി പ്രോത്സാഹനം നൽകും. 
					കളിക്കിടയിൽ പരിക്ക് പറ്റുന്നവർക്ക് ചികിത്സക്കായി health insurance ലഭ്യമാക്കാൻ ശ്രമിക്കുന്നുണ്ട്.
				</p>
			</div>
			<img src="{% static 'public/brochure/vfl-2.png' %}" class="img-fluid">
			<div class="p-2">
				<p class="lead"> 
					ചെറിയ ചുവടുവെപ്പുകളോടെയാണ് ഇപ്പോൾ മുന്നോട്ട് പോകുന്നത്. കാരണം മുൻപരിചയങ്ങൾ ഏതും ഇല്ല. ലക്ഷ്യങ്ങൾ വളരെ വലുതുമാണ്. ആത്യന്തിക ലക്ഷ്യം ഫുട്‌ബോളിന്റെ വികാസം ആണ്. കൃത്യമായി പറഞ്ഞാൽ; ഇന്ത്യൻ ടീം ഫുട്‌ബോൾ ലോകകപ്പിൽ മത്സരിക്കുന്നതിന്റെ വേഗം കൂട്ടുക, മൈതാനം എന്നത് അത്യാവശ്യ ഇടം (essential space) ആയി സമൂഹവും സർക്കാരുകളും കണക്കാക്കുക, എല്ലാ ഗ്രാമങ്ങളിലും പട്ടണങ്ങളിലും ആവശ്യമായ മൈതാനങ്ങൾ തുറക്കുക, നിലവിൽ ഉള്ളവ സംരക്ഷിക്കുക, മൈതാനങ്ങളിലേക്ക് പെണ്കുട്ടികൾക്ക് കടന്നുവരാൻ ഉള്ള തടസങ്ങൾ നീക്കുക, ഒരു മികച്ച ഫുട്‌ബോൾ സംസ്കാരം വളർത്തി ഗ്രാമങ്ങളിൽ വിനോദത്തിന്റെ പുതിയ വേദികൾ തുറക്കുക എന്നിവയാണ് പ്രധാന ലക്ഷ്യങ്ങൾ. അടുത്ത വർഷത്തോടെ വാണിയംകുളത്ത് ഒരു ഫുട്‌ബോൾ അക്കാദമിയും 11's ടീമും രൂപീകരിക്കണം. പദ്ധതി വിജയിക്കുകയാണെങ്കിൽ മറ്റ് സ്ഥലങ്ങളിലേക്ക് വ്യാപിപ്പിക്കാനും ആഗ്രഹിക്കുന്നു.
				</p>
				<p class="lead">
					ഒരു ഫുട്‌ബോൾ ടീം എങ്ങനെ വിജയം നേടുന്നോ അത് പോലെ ഒരു കൂട്ടായ്മക്ക് മാത്രമേ മേൽപറഞ്ഞ ലക്ഷ്യങ്ങൾ കൈവരിക്കാൻ ആവു. അതിനാൽ എല്ലാവരുടെയും സഹായം പ്രതീക്ഷിക്കുന്നു. പുതുവത്സര ആശംസകൾ...
				</p>
			</div>
		</div>
	</div>
{% endblock %}
