{% extends 'public/base.html' %}
{% load static %}
{% load thumbnail %}
{% load my_tags %}

{% block body %} class="bg-light" {% endblock %}

{% block content %}

{% with "Calendar for VFL 2021" as title %}
	{% include "snippets/header-light.html" with title=title icon='calendar' %}
{% endwith %}

<div class="container-md">
		{% include 'fixture/partials/calendar.html' with matches=matches %}
</div>
{% endblock %}

{% block scripts_extra %}
	<script>
$(document).ready(function() {
	$('#fixtureTable').DataTable({
		"ordering": false,
		"order":[],
		"pageLength": 10,
	});
});
	</script>
{% endblock %}
