
{% load thumbnail %}

<div class="card bg-dark" style="width: 100px;">
	<a class="card-image thumbnail" href="{% url 'dash:editcarosel' carosel.pk %}">
		{% thumbnail carosel.image "300x300" upscale=False as im %}
			<div class="m-auto text-center" style="max-width: 100px;">
				<img class="card-img-top" style="height:100px" src="{{ im.url }}" alt="Card image cap">
			</div>
		{% endthumbnail %}
	</a>
	<div class="card-footer text-center">
		<form method="POST" action="{% url 'dash:deletecarosel' carosel.pk %}">
			{% include 'snippets/form_common.html' %}
				<input type="hidden" name="redirect_url" value="{{ request.get_full_path  }}">
				<button type="submit" class="btn btn-sm btn-danger">
					<i class="mdi mdi-trash-can"> </i>
				</button>
		</form>
	</div>
</div>
