<!doctype html>
{% load bootstrap4 %}
{% load hijack_tags %}
{% load static %}
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
		{% get_current_language as LANGUAGE_CODE %}
{% endif %}

<html lang="{{ LANGUAGE_CODE|default:'en_us'  }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no"">

    <title>{% block title %}VFL Registration{% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />

		<script src="https://kit.fontawesome.com/53ea411157.js" crossorigin="anonymous"></script>

	{% bootstrap_css %}
  {% block style %}	{% endblock %}

	{% if 'javascript_in_head'|bootstrap_setting %}
			{% bootstrap_javascript jquery='full' %} 
	{% endif %}

  {% block extraheader %}	{% endblock %}

  </head>
  <body>
		{% hijack_notification %}
		<div class="container-fluid">
				{% block navbar %}
					{% include "registration/topbar.html" %}
			  {% endblock %}
        {% block content %} {% endblock %}
    </div>	
		{% if not 'javascript_in_head'|bootstrap_setting %}
			{% bootstrap_javascript jquery='full' %} 
		{% endif %}
		{% block extrascript %}	{% endblock %}
  </body>
</html>