<!doctype html>
{% load bootstrap4 %} 
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
		{% get_current_language as LANGUAGE_CODE %}
{% endif %}
<html lang="{{ LANGUAGE_CODE|default:'en_us'  }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no"">

    <title>{% block title %}VFL Registration{% endblock %}</title>

	{% bootstrap_css %}
  {% block style %}	{% endblock %}

	{% if 'javascript_in_head'|bootstrap_setting %}
			{% bootstrap_javascript jquery='full' %} 
	{% endif %}

  {% block extraheader %}	{% endblock %}

  </head>
  <body>

		<div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
      		<h1>VFL Registration</h1>
      		{% if user.is_authenticated %}
      		  <a href="{% url 'logout' %}">logout</a>
      		{% else %}
      		  <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      		{% endif %}
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>	
		{% if not 'javascript_in_head'|bootstrap_setting %}
			{% bootstrap_javascript jquery='full' %} 
		{% endif %}
		{% block extrascript %}	{% endblock %}
  </body>
</html>