
{% load thumbnail %}
	<div class="card w-auto mb-4 ">
		<div class="card-header text-dark text-center h2 bg-warning">{{user.club}}</div>
    <div class="card-body">
			<p class="card-title text-secondary h6"><strong>Contact number: </strong> {{clubdetails.contact_number}}</p>
			<p class="card-title text-secondary h6"><strong>Address: </strong> {{clubdetails.address}}</p>
			<p class="card-title text-secondary h6"><strong>Year of Formation: </strong> {{clubdetails.date_of_formation}}</p>
			<a href="{% url 'UpdateClubDetails' clubdetails.pk %}" class="btn btn-primary">Edit details</a>
    </div>
  </div>

  <div class="rounded border p-3 mb-4 text-center">
		<div class="bg-info text-center mb-2 p-2 h4 rounded">Jersey</div>
		<div class="row">
		{% if jerseypictures|length > 0 %}
		  {% for jersey in jerseypictures %}
			<div class="col-md-4 mb-4">
				<div class="card w-auto shadow ">
					<div class="card-header text-dark h5">Jersery {{forloop.counter}}</div>
					{% thumbnail jersey.image "300x300" as im %}
					<div class="p-2 m-auto" style="max-width: 300px;">
						<img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
					</div>
					{% endthumbnail %}
  			  <div class="card-body">
						<a href="{% url 'UpdateJersey' jersey.pk %}" class="btn btn-primary">Change</a>
						<a href="{% url 'DeleteJersey' jersey.pk %}" class="btn btn-warning">Delete</a>
  			  </div>
  			</div>
  		</div>
			{% endfor %}
		{% endif %}

		{% if jerseypictures|length < 3 %}
			<div class="col-md-4 mb-4">
				<div class="card w-auto shadow ">
					<div class="card-header text-dark h5">Jersery {{jerseypictures|length|add:"1"}}</div>
  			  <div class="card-body">
						<p class="card-text text-dark">Add upto three jersey. Atleast 1 jersey is mandatory.</p>
						<a href={% url 'AddJersey' %} class='btn btn-primary mb-2'>Add</a>
  			  </div>
  			</div>
		{% endif %}
  	</div>
  </div>

		
  <div class="rounded border p-3 mb-4">
	<div class="bg-info text-center mb-2 p-2 h4 rounded">Officials</div>
  <div class="row">
	  {% for official in officials %}
		<div class="col-md-4 mb-3">
			<a href="{% url 'OfficialsProfileView' official.pk %}" class="card w-auto shadow " style="text-decoration:none">
				<div class="card-header text-dark h5">{{official.role}}</div>
				{% thumbnail official.profilepicture.image "300x300" as im %}
				<div class="p-2 m-auto" style="max-width: 300px;">
					<img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
				</div>
				{% endthumbnail %}
  		  <div class="card-body bg-light">
  		    <div class="card-title h5 text-center text-dark">{{official}}</div>
  		  </div>
  		</a>
  	</div>
		{% endfor %}

		{% if not user.club.president %}
		<div class="col-md-4 mb-3">
			<div class="card w-auto shadow ">
				<div class="card-header text-dark h5">President</div>
  	  	<div class="card-body">
  		    <p class="card-title text-danger">President of the club</p>
					<a href={% url 'AddOfficials' 'President' %} class="btn btn-primary">Add</a>
  	  	</div>
			</div>
  	</div>
		{% endif %}

		{% if not user.club.secretary %}
		<div class="col-md-4 mb-3">
			<div class="card w-auto shadow ">
				<div class="card-header text-dark h5">Secretary</div>
  	  	<div class="card-body">
					<p class="card-text text-danger">Secretary of the club.</p>
					<a href={% url 'AddOfficials' 'Secretary' %} class="btn btn-primary">Add</a>
  	  	</div>
			</div>
  	</div>
		{% endif %}

		{% if not user.club.manager %}
		<div class="col-md-4 mb-3">
			<div class="card w-auto shadow ">
				<div class="card-header text-dark h5">Manager</div>
  	  	<div class="card-body">
					<p class="card-text text-danger">Manager of the Football Team.</p>
					<a href={% url 'AddOfficials' 'Manager' %} class="btn btn-primary">Add</a>
  	  	</div>
			</div>
  	</div>
		{% endif %}
  </div>
  </div>

  <div class="rounded border p-3 mb-4">
	<div class="bg-info text-center mb-2 p-2 h4 rounded">Players</div>
  <div class="row">
	  {% for official in players %}
		<div class="col-md-4 mb-3">
		<div class="card w-auto shadow ">
			<div class="card-header text-dark h4"> {{official.role }} {{ forloop.counter }}</div>
			{% thumbnail official.profilepicture.image "300x300" as im %}
			<div class="p-2 m-auto" style="max-width: 300px;">
			<img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
			</div>
			{% endthumbnail %}
  	  <div class="card-body">
  		  <div class="card-title h5 text-center text-dark">{{official}}</div>
			  <p class="card-title text-secondary h6">Favourite position: {{official.Player.favorite_position}}</p>
	 		  <p class="card-title text-secondary h6">Prefered foot: {{official.Player.prefered_foot}}</p>
  	  </div>
			<div class="card-footer">
				<a href="{% url 'OfficialsProfileView' official.pk %}" class="btn btn-link">View</a>
				{% if not official.user %}
					{% if not official.invitation %}
					<a href="{% url 'linkplayer' official.pk %}" class="btn btn-link">Link user</a>
					{% else %}
					<p>An invitation has been set to the user {{ official.invitation.player }}, but not yet accepted.
					<a href="{% url 'deleteinvitation' official.invitation.pk %}">Click</a> here to delete the invitation.
					</p>
					{% endif %}
				{% endif %}
			</div>
  	</div>
		</div>
		{% endfor %}

		{% comment %}{% if players|length < 25	%}{% endcomment %}
		{% comment %}<div class="col-md-4 mb-3">{% endcomment %}
		{% comment %}<div class="card w-auto shadow">{% endcomment %}
			{% comment %}<div class="card-header h4"> Player {{ players|length|add:"1" }} </div>{% endcomment %}
      {% comment %}<div class="card-body">{% endcomment %}
        {% comment %}<p class="card-title">A minimum of 15 players is required for club registration. Maximum 25 players can be added.</p>{% endcomment %}
				{% comment %}<a href={% url 'AddOfficials' 'Player' %} class="btn btn-primary"> Add </a>{% endcomment %}
      {% comment %}</div>{% endcomment %}
    {% comment %}</div>{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}{% endif %}{% endcomment %}
	</div>
