{% extends 'registration/base.html' %}

{% load thumbnail %}

{% block content %}

<div class="col-12 p-3 justify-content-center">
{% if user.is_staff %}
	{% include "registration/home_admin.html" %}
{% elif user.is_club %}
	{% include "registration/home_club.html" %}
{% elif user.is_personal %}
  {% if user.Official %}
	{% include "registration/officials_home.html" with object=user.Official %}
	{% else %}
	<div> 
		<div class="h4">Accept the invitation to link your profile and thus join your club</div>
		<div>
			{% with invitations=user.invitations.all %}
			{% if invitations %}
			<ul>
			{% for invi in invitations %}
			<li>
			<p>Invitation from club {{ invi.club }}. If you accept the invitation your profile will be linked to <a href="{% url  'OfficialsProfileView' invi.profile.pk %}">{{ invi.profile }}</a>. 
			<a href="{% url 'acceptinvitation' invi.profile.pk %}" class="px-2" >Accept</a>
			</p>
			</li>
			{% endfor %}
			</ul>
			{% else %}
			<p class="text-danger">You have no invitations from any club yet. Ask you club admin to sent invitation.</p>
			{% endif %}
			{% endwith %}
		</div>
	</div>
	{% endif %}
{% endif %}
</div>
{% endblock %}
