

<nav class="navbar bg-dark navbar-dark navbar-expand justify-content-between">
	<div class="navbar-brand" class="h1">VFL</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			 <span class="navbar-toggler-icon"></span>
		</button>

    <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
        <ul class="navbar-nav">
					{% if user.is_authenticated %}
          <li class="nav-item dropdown" >
						  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
							<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
								<a href="{% url 'home' %}" class="dropdown-item">Home</a>
								<a href="{% url 'ClubList' %}" class="dropdown-item">Clubs</a>
							</div>
          </li>
					{% endif %}
        </ul>
        <ul class="navbar-nav">
					{% if user.is_authenticated %}
          <li class="nav-item dropdown" >
						  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{% if user.club %} {{user.club}} {% else %} {{user.username}} {% endif %}
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<a href="{% url 'pwdchange' %}" class="dropdown-item">Change password</a>
								<a href="{% url 'logout' %}" class="dropdown-item">logout</a>
							</div>
          </li>
					{% else %}
          <li class="nav-item text-center" >
              <a href="{% url 'signup' %}" class="nav-link" ><span>Sign Up</span></a>
          </li>
          <li class="nav-item text-center" >
              <a href="{% url 'login' %}" class="nav-link" ><span>Log In</span></a>
          </li>
  				{% endif %}
        </ul>
    </div>
</nav>
